@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fafcff;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.container {
  max-width: 1440px !important;
  width: 100%;
  padding: 0 150px;
  height: 100%;
}

@media only screen and (max-width: 1200px) {
  .container {
    padding: 0 28px;
  }
}

@media only screen and (max-width: 950px) {
  .container {
    padding: 0 20px;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    padding: 0 16px;
  }
}
